{% extends 'base.html.twig' %}

{% block body %}
   <!-- Begin page content -->
   <div class="container">
      <div class="m-t-1">
         <h1>Relax and control your PC from WEB</h1>
      </div>
      <hr>
      <p class="lead">
      <ul>
         <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </li>
         <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </li>
         <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </li>
         <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </li>
         <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </li>
      </ul>
      </p>
      <p>
         Contrary to popular belief, Lorem Ipsum is not simply random text.
         It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
      </p>
      <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
   </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
